body {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 2em;
  }

  a, a:visited {
    color: black;
 }

 a:hover {
    color: gray;
 }
  
  .gallery {
    column-count: 3;
    column-gap: 1em;
  }
  
  .gallery img {
    border: 2px solid rgb(240, 240, 240);
    border-radius: 20px;
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
  
  .gallery video {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 20px;
    display: block;
    margin-bottom: 1em;
  }